html {
    font-family: sans-serif;
    background: linear-gradient(-45deg, #d13b0d, #e70c60, #058cbd, #18a52e);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    scrollbar-width: none; /* For Firefox */
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.moon-phase-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

html::-webkit-scrollbar {
    width: 0; /* For Chrome, Safari, and Opera */
}

html.dark {
    background: linear-gradient(-45deg, #340c00, #360015, #002837, #003428);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

.dark .main-content{
    background-color: rgb(7, 4, 12);
    color:#f1f5f9
}

.dark header, footer{
    color: #f1f5f9;
}

.dark .nav-links a {
    color: #e70c60;
}

header, footer {
    width: 100%;
    max-width: 80ch;
    margin: 0 auto;
    padding: 1rem;
    line-height: 1.5;
    font-family: sans-serif;
    background: transparent;
}

footer {
    line-height: 1;
    height: 4rem;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.text-content {
    width: 100%;
    max-width: 80ch;
    margin: 0 auto;
    padding: 1rem;
}

.main-content {
    flex: 1;
    width: 100%;
    max-width: 3440px; /* or any other value that suits your design */
    margin: 0 auto;
    padding: 1.5rem;
    background-color: #f1f5f9;
}

.main-content h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    box-sizing: border-box;
}

.gallery-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    overflow: auto;
    padding: 5rem;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 10px;
    width: 100%;
    max-width: 100%;
}

.gallery img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.gallery video {
    width: 100%; /* This will make the video take up the full width of its container */
    height: auto; /* This will scale the height proportionally */
    display: block; /* This will prevent inline white-space */
    object-fit: cover; /* This will cover the entire content box, potentially cropping the video */
}

/* ... rest of your existing styles ... */


h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
}

/* nav styles */

#themeToggle {
    border: 0;
    background: none;
}
.sun {
    fill: yellow;
}
.moon {
    fill: transparent;
}

.dark .sun {
    fill: transparent;
}
.dark .moon {
    fill: rgb(255, 255, 130);
}


.hamburger {
    padding-right: 20px;
    cursor: pointer;
}

.hamburger .line {
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background-color: #ff9776;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links .current-page {
    text-decoration: underline;
    text-decoration-color: #ff9776; /* change this to the color you want */
    background-color: unset;
}

.nav-links {
    width: 100%;
    top: 5rem;
    left: 48px;
    background-color: #ff4309;
    display: none;
    margin: 0;
}

.nav-links a {
    display: block;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
}

.nav-links a:hover,
.nav-links a:focus {
   font-weight: bold;
   text-decoration: underline;
}

.expanded {
    display: unset;
}

/* Change the background color of the lightbox */
.fancybox-bg {
    background: #000;
  }
  
  /* Change the color of the caption text */
  .fancybox-caption {
    color: #fff;
  }
  
  /* Change the color and size of the navigation arrows */
  .fancybox-navigation .fancybox-button {
    color: #fff;
    width: 40px;
    height: 40px;
  }
  
  /* Change the color of the close button */
  .fancybox-close-small {
    color: #fff;
  }

@media screen and (min-width: 636px) {
    .nav-links {
        margin-left: 5em;
        display: block;
        position: static;
        width: auto;
        background: none;
    }

    .nav-links a {
        display: inline-block;
        padding: 15px 20px;
    }

    .hamburger {
        display: none;
    }

}

