<html lang="en">
	<head>
		<title>About</title>
	</head>
	<body>
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/blog">Blog</a>
        <p>I'm Clay</p>
	</body>
</html>