---
import BaseLayout from '../layouts/BaseLayout.astro';
import typingdino from '../assets/pixel-art/typing-dino.gif';
import { Image } from 'astro:assets';

const pageTitle = " ";


const identity = {
    name: "Clayton",
    age: 27,
    location: "Buffalo, NY",
    occupation: "Software Engineer",
    hobbies: ["Film Photography", "Programming", "Video Game Development", "Reading", "Biking", "Gardening", "Cooking"]
}

const skills = ["JavaScript", "Python", "Java", "C#", "Astro", "React", "Godot", "Google Cloud"]

const happy = true;
const finished = false;
const goal = 3;
---

<BaseLayout pageTitle={pageTitle}>
    <div class="text-content">
        <p>Hi, I'm Clay. This is a little space for different projects I'm working on. </p>
        
        <p>I recently have been coding with:</p>
        <ul>
            {skills.map(skill => <li>{skill}</li>)} 
        </ul>
        <Image src={typingdino} alt="Pixel art of a dinosaur typing on a computer" />
    </div>
    
</BaseLayout>
