---
let currentPath = new URL(Astro.request.url).pathname;
---

<div class="nav-links">
    <a href="/" class={currentPath === '/' ? 'current-page' : ''}>Home</a>
    <a href="/about/" class={currentPath === '/about/' ? 'current-page' : ''}>About</a>
    <a href="/blog" class={currentPath === '/blog' ? 'current-page' : ''}>Blog</a>
    <a href="/gallery" class={currentPath === '/gallery' ? 'current-page' : ''}>Gallery</a>
    <a href="/tags/" class={currentPath === '/tags/' ? 'current-page' : ''}>Tags</a>
</div>